*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
/* body{
    max-width: 100%;
    margin: 0 40px;
} */
.site-header{
    max-width: 100%;
    margin: 0px;
    padding: 10px 40px;
    background: #fff;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
}
.site-header .header-left{
    display: flex;
}
.site-header .header-left .bar{
    display: flex;
    font-weight: bold;
}
.site-header .header-left .bar li{
    padding: 20px;
    text-align: center;
    list-style: none;
    font-family:  'Arial Narrow', Arial, sans-serif;
}
.site-header .header-left .bar li a{
    text-decoration: none;
    color: #6c757b;
}
.site-header .header-left .bar li a:hover{
    color: black;
}
.site-header .header-left .icon img{
    max-width: 78px;
    height: auto;
    margin-top: 6px;
}
.site-header .header-right .search{
    display: flex;
    max-height: 30px;
    float: left;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
#btn{
    outline: none;
    border: none;
    background: #f6f6f6;
    padding: 10px 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}
#text{
    border: none;
    outline: none;
    padding: 10px;
    background: #f6f6f6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.site-header .header-right .bar-right{
    width: 200px;
    padding-left: 30px ;
    display: flex;
    list-style: none;
    padding-top: 20px;
    justify-content:space-between;
}

/* header */

.item{
    width: 100%;
    margin-top: 78px;
    height: 35px;
    background: #63b1bc;
    display: flex;
    align-items: center;
}
.item .items{
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.item .items p{
    width: 100%;
    font-size: 13px;
    font-weight:300;
    color: white;
}
.item .items p span{
    display: none;
    user-select: none;
}
.item .items p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.item .items p span.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}



/* item */


.site-main{
    /* height: 2000px; */
    /* background: rgb(175, 191, 223); */
    padding: 0 45px;
}

/* .site-main .block-uu-dai { */
    /* padding: 10px 0; */
    /* background: violet; */
/* } */
.block-hot-deal{
    width: 100%;
}
.product-items.slick-slider {
    display: block;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}
.product-item {
    padding: 0 8px;
    list-style: none;
    /* position: relative; */
}
.product-item-info {
    position: relative;
}
.product-item-photo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.product-item .product-image-photo {
    display: block;
    width: 100%;
}
.product-item-image-label-sale {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
}
.product-item-image-label-sale img {
    display: block;
    height: 25px;
}

.product-item-button-tocart {
    color: #333f48;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 33px;
    background-color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    top: 55.1%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10;
    border: none;
    border-radius: 0;
    white-space: nowrap;
}
.product-item-button-tocart {
    display: none;
}
.product-item-button-tocart:hover {
    display: block;
}
.block-hot-deal .product-item-details {
    height: 160px;
}

.product-item .swatch-attribute-options {
    flex-wrap: wrap;
    display: flex;
}
.swatch-attribute-options {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}
.product-item-top {
    display: flex;
    align-items: center;
}
/* ------ */
.product-item-name {
    display: block;
    color: #333f48;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-item-name {
    width: 85%;
}
.product-item-name a {
    color: #333f48;
}
/*  */
.product-item .price-box {
    flex-wrap: wrap;
    display: flex;
    min-height: 47px;
}
.product-item .price-box .normal-price {
    margin-right: 8px;
}
.product-item .price-box .price {
    color: #333f48;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}
.product-item .price-box .price-percent {
    display: inline-block;
    background-color: #da291c;
    color: #fff;
    margin-bottom: 4px;
}
.product-item .price-box .price-percent {
    line-height: 20px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: -.01em;
    padding: 0 5px;
    border-radius: 0;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 10;
}
/* ---- */
.product-item .price-box .old-price {
    width: 100%;
    display: block;
}
.product-item .price-box .old-price .price {
    color: #c8c7cc;
    text-decoration: line-through;
    margin-bottom: 4px;
}
/*  */
.product-item-label-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 14px;
}
/* --------- */
.product-item .progress-buy {
    margin-top: 18px;
}
.product-item .progress-buy .progress {
    margin-bottom: 8px;
    background-color: #f6f6f6;
    border-radius: 3px;
    background-image: none;
    display: block;
    width: 100%;
    height: 8px;
    position: relative;
}
.product-item .progress-buy .progress-bar {
    background: #63b1bc;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.product-item .progress-buy-text {
    font-weight: 500;
    font-size: 14px;
}
.product-item .progress-buy-text .value {
    color: #63b1bc;
}
/* ------slide-product-btn------ */
.slide-product-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    /* background-color: turquoise; */
    overflow: auto;
    justify-content: space-between;
    bottom: 300px;
}
.slide-product-btn i{
    cursor: pointer;
    font-size: 30px;
}


/* ----------- */
.block-hot-deal .block-heading{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.block-hot-deal .block-heading .title{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: none;
    margin: 0;
    color: #333F48;
}


/*  */
.block-uu-dai .row img{
    width: 100%;
}

.row2{
    display: flex;
}

.row2 .block-subscribe{
    height: 100px;
    width: 99.3%;
    float: left;
}
.row2 .inside{
    height: 100%;
    width: 100%;
    /* padding-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}
.row2 .block-title{
    height: auto;
    width: 50%;
    margin: 0 10px 0 0;
}
.block-title p {
    height: 100%;
    color: #333F48;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
.row2 .form-subscribe{
    height: auto;
    /* width: 190px; */
    padding: 10px;
    display: flex;
    background:white;
}
.row2 .form-subscribe input{
    border: none;
    outline: none;
    font-size: 10px;
    width: 190px;
}.row2 .form-subscribe button{
    border: none;
    background: white;
    height: auto;
    cursor: pointer;
}

.row2 .block-social{
    height: 100px;
    width: 99.3%;
    float: right;
    background-color: rgb(233, 233, 218);
    border-radius: 0 0 15px 0;
}
/*  //////////////////////////////*/
.block-contents{
    height: auto;
    width: 100%;
    /* background-color: azure; */
}
.block-blog{
    font-family: Arial, Helvetica, sans-serif;
}
.block-blog .block-title{
    height: 25px;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.block-blog .home-post{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.block-blog .home-post .home-post-item{
    min-width: 33.333333333%;
    padding-left: 4px;
    padding-right: 4px;
}
.home-post-item-photo a{
    display: block;
    position: relative;
    padding: 50.05% 0 0;
}
.block-blog a{
    text-decoration: none;
}
.home-post-item-photo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.home-post-item-details{
    padding-top: 16px;
    min-height: 184px;
}
.home-post-item-cat{
    font-size: 14px;
    margin-bottom: 16px;
    color: #63b1bc;
}
.home-post-item-title{
    display: block;
    color: #333F48;
    margin: 0;
    font-weight: 700;

    font-size: 16px;
    height: 56px;
}
.home-post-item-title a{
    color: #333F48;
}
.home-post-item-date{
    color: #c8c7cc;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.block-blog .readmore{
    margin-bottom: 48px;
    text-align: center;
}
.block-blog .readmore a{
    display: inline-block;
    color: #333F48;
    font-weight: 700px;
    width: 100%;
    border: 1px solid #c8c7cc;
    border-radius: 2px;
    padding: 12px;
    font-size: 14px;
    max-width: 624px;
}

/* site-main */
.site-footer{
    height: 300px;
    background: rgb(129, 217, 233);
    font-family:  'Arial Narrow', Arial, sans-serif;

}
.footer-content{
    padding: 38px 56px 30px;
    background-color: #2d393f;
}
.footer-content .row{
    justify-content: space-between;
}
.footer-content .col-sm-3{
    width: auto;
    max-width: 340px;
}.site-footer h3{
    font-size: 14px;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #f6f6f6;
}
.footer-content .cl1 p{
    margin-bottom: 8px;
    color: #f6f6f6;
}


.site-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.site-footer ul li{
    margin: 0 0 12px;
    color: #f6f6f6;

}
.footer-content .bancode img{
    height: 35px;
}
.site-footer img{
    vertical-align: middle;
}
.footer-content .cl4 p{
    margin-bottom: 8px;
}

/* .footer-content */
.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2d393f;
    color: #fff;
    border-top: 1px solid white;
    padding: 16px 40px;
}
.footer-bottom .footer-social{
    margin: 0;
    margin-left: auto;
}
.footer-bottom .footer-social a{
    margin: 0 0 0 16px;
}
/* footer  */
/* sidebar-fix-right */
.sidebar-fix-right{
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sidebar-fix-right .support{
    background-color: #da291c;
    border-radius: 4px 0 0 4px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    line-height: 16px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-position: center top 4px;
    background-image: url(/mess.png);
    background-size: 20px 20px;
    display: block;
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 10px;
    text-decoration: none;
}
.sidebar-fix-right .back-to-top {
    background-color: #f6f6f6;
    border: 1px solid #c8c7cc;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    color: #c8c7cc;
    font-weight: 700px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 18px;
    font-size: 10px;
    width: 36px;
    height: 36px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(/arrow.png);
    background-size: 15px 15px;
    cursor: pointer;
    margin-bottom: 4px;
    text-align: center;
}
/* ---------------login------------ */
.o-modal{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.modal{
    background: rgba(51,63,72,.34);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow:auto;
    z-index: 700;
}
.modal-login .sf-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #63b1bc;
    width: 515px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.modal-login .sf-modal__content{
    overflow: visible;
    padding: 0;
}
.modal-login .sf-modal .modal-container{
    position: static;
    transform: translate(0,0);
}.modal-container{
    background-color: #fff;
}
.modal .modal-content{
    padding: 13px 17px;
}
.block-login .block-title{
    display: flex;
    align-items: flex-start;
    margin: -13px -17px 25px;

}
.block-login .block-title .title{
    background-color: #f6f6f6;
    border-radius: 0 8px 0 0;
    display: block;
    text-align: center;
    width: 50%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #c8c7cc;
    padding: 29px 10px;
}
.block-login .block-title .title.active {
    color: #333f48;
    background-color: #fff;
    position: relative;
}
* a{
    text-decoration: none;
    cursor: pointer;
}
.block-login label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 11px;
}
.block-login .input-phone {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333f48;
    color: #333f48;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 0;
    margin-bottom: 47px;
    margin-top: 57px;
    outline: 0!important;
}

.block-login .btn {
    display: block;
    width: 100%;
    margin-bottom: 35px;
}
.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    background-color: #333f48;
    border-radius: 2px;
    padding: 18px 12px;
    text-align: center;
    border: 1px solid #333f48;
}
.block-login .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.block-login .text a {
    color: #63b1bc;
}
.modal .modal-close {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: -16px;
    right: -14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/X.png);
    background-size: 20px;
    z-index: 20;
}



/* -----------product-card-'product' */
